extends _layout.pug

block locals
  - var title = '名言集'

block content
  h1 a.h
  li ううん。ごめん、ややこしかったな。入社式がicoibaって感慨深いに近い感情が芽生えたので書き込んでしまった次第。
  li 画像の編集か・・・ピクセル単位の修正になりそうやな
  li 誰がマントヒヒや

  h1 k.k
  li 単語の意味については価値観のぶつかり合いや
  li お金払えば人は優しくなるよ
  li ハリーポッターとてつやの意思

  h1 o.t
  li 私は食いたいから食い吸いたいから吸うのだ
  li 在宅勤務になってから体の厚みが増してきた、だめだこれは
  li 在宅勤務に慣れてきた。適応した。

  h1 m.s
  li 英英辞書なんか読んでも理解を阻害するだけだ
  li べんてゅ？
  li よんきゅ！
